/* Write your CSS code here */
.main-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.home {
  font-family: Roboto;
  font-size: 50px;
  color: #551e53;
}

.description {
  color: #555555;
  font-family: Roboto;
  font-size: 26px;
}
