.nav-con {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  margin: 0px;
}
.logo-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
}
.wave {
  font-family: Roboto;
  font-size: 30px;
  color: #12022f;
}
ul {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
}

li {
  list-style-type: none;
  font-family: Roboto;
  font-weight: bold;
  font-size: 26px;
  margin: 10px;
  color: #12022f;
}
