* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background-con {
  height: 100vh;
  margin: 20px;
  border: 4px solid #6d396b;
  border-radius: 15px;
  padding: 25px;
  box-sizing: border-box;
}
@media (min-width: 992px) {
  .background-con {
    margin: 60px;
  }
}
